body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: darkgreen;
}

.requiredText {
    color:red;
}

.listContainer {
    width: 100%;
    display: flex;
    overflow: auto;
}

.listContainer > * {
    flex: 1 0 content;
    flex-wrap: wrap;
    background-color: gray;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    max-width: 300px;
}

/* .listContainer > * > * {
    text-align: center;
} */